.react-tabs{
    background: white;
    z-index: 100;
    height: 500px;
    width: 400px;
    right: 0;
    top: 40px;
    border-style: solid;
    border-color: black;
    flex-grow: 2;
    padding:10px;
}

.react-tabs{
    font-family: 'Roboto', sans-serif;

}

.react-tab-list{
    background: yellowgreen;;
    text-decoration: underline
}

.about-panel{
    font-family: 'Roboto', sans-serif;
}