.react-tabs{
    background: white;
    z-index: 100;
    height: 500px;
    width: 400px;
    left: 850px;
    top: 100px;
    position: relative;
    border-style: solid;
    border-color: black;

}
